---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Get To Know Christian More!" description="Details that is nice to know for Christian">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="100%"
					height="200"
					src="/assets/portrait.jpeg"
					alt="Christian"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I’m Christian Baloncio, a detail-oriented Web Developer driven by curiosity and a genuine love for solving problems. 
						My journey started with building simple websites and quickly grew into developing full stack solutions, automation workflows, 
						and custom WordPress builds for agencies and companies across different industries.
					</p>
					<p>
						Over the years, I’ve worked with teams both locally and remotely — creating responsive interfaces, optimizing backend logic, integrating APIs, 
						and streamlining processes with tools like HubSpot, Dynamics, Power Automate, and Zapier. Whether it’s crafting a user-friendly website or building internal systems, 
						I focus on delivering scalable, meaningful solutions that improve how people work and interact online.
					</p>
					<p>
						What I enjoy most is the balance between creativity and structure: designing clean user experiences, writing maintainable code, and aligning every feature with real business goals. 
						Every project is an opportunity to learn, improve, and build something that actually matters.
					</p>
					<p>
						Today, I continue to grow as a Full Stack and WordPress Developer — building, refining, and exploring new technologies one project at a time.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Graduated B.S in Information Technology in 
						<a href="https://www.ustp.edu.ph/" target="_blank">University of Science and Technology of Southern Philippines</a>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Laravel, WordPress, PHP, NodeJS, RestAPI, HTML, CSS, Javascript, React, Blade, Livewire, WP Custom Theme and Plugins, ACF, Elementor, PowerAutomate, Make, n8n, HubSpot, Dynamics, Git, Docker, Postman </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
