---
import { Image } from 'astro:assets';
import '@styles/reset.css';
import '@styles/styles.css'
import avatar from '@assets/placeholder-boy.webp';
import { lazy } from 'astro:schema';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header class="container">
			<div>
				<Image src={avatar} alt={'Christian'} width={200} height={200} loading={'eager'} />
				<div>
					<h1>Christian Baloncio</h1>
					<p>Web Developer</p>
				</div>
			</div>
		</header>
	</body>
</html>
